<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2271a5">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/style.css">
    <title>Coinevents</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Coinevents</h1>
        <p class="tagline">Latest and upcoming events</p>
      </div>
    </header>
    <main>
      <div class="container">